@import "tailwindcss";

@theme {
    --color-primary: #FFFFFF;
    --color-secondary: #000000;
    --color-hoverColor: #D9D9D9;
    --color-textPrimary: #000000;
    --color-textSecondary: #FFFFFF;
    --font-main: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
}

html {
    scroll-snap-type: y mandatory;
    font-size: 16px;
}
.section {
    scroll-snap-align: start;
    height: 100vh;
}

@media (min-width: 930px) {
    html {
        font-size: 16px;
    }
}

body{
    color: var(--color-textPrimary);
    font-family: var(--font-main);
    background-color: var(--color-primary);
}