@import "tailwindcss";

@theme {
    --color-primary: #FFFFFF;
    --color-secondary: #000000;
    --color-hoverColor: #D9D9D9;
    --color-textPrimary: #000000;
    --color-textSecondary: #FFFFFF;
    --font-main: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    color-scheme: only light;
}

/* Prevent Samsung Internet & other browsers from force-inverting colors */
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: only light;
    }
}

.section {
    scroll-snap-align: start;
}

body{
    color: var(--color-textPrimary);
    font-family: var(--font-main);
    background-color: var(--color-primary);
}

/* Disable scroll snapping on smaller screens */
@media (max-width: 768px) {
    html {
        scroll-snap-type: none;
    }
    .section {
        scroll-snap-align: none;
    }
}